capacity=I"10000"
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.EssSymmetric.Reacting.8c397d11-8913-4a5e-8988-4594ccbf14be))(|(id\=datasource0)))"
enabled=B"true"
id="ess0"
initialSoc=I"50"
maxApparentPower=I"10000"
service.factoryPid="Simulator.EssSymmetric.Reacting"
service.pid="Simulator.EssSymmetric.Reacting.8c397d11-8913-4a5e-8988-4594ccbf14be"
