apiTimeout=I"60"
apikey=""
cycleTime=I"10000"
debug=B"false"
enabled=B"true"
id="ctrlBackend0"
proxyAddress=""
proxyPort=I"0"
proxyType="HTTP"
service.factoryPid="Controller.Api.Backend"
service.pid="Controller.Api.Backend.e618edd1-3c76-46cb-93a6-29aa3c9f6d91"
uri="ws://openems-backend:8084"
