Controller.Api.Backend.e618edd1-3c76-46cb-93a6-29aa3c9f6d91="jar/io.openems.edge.controller.api.backend.jar"
Controller.Api.Websocket.8d5f1048-bce5-45fb-98e6-fa3228088057="jar/io.openems.edge.controller.api.websocket.jar"
Controller.Debug.Log.0ce1bfa0-5161-4173-916c-775b1a56153f="jar/io.openems.edge.controller.debug.log.jar"
Controller.Symmetric.Balancing.28ecb742-d7cb-4c43-805c-f5d08d70fafa="jar/io.openems.edge.controller.symmetric.balancing.jar"
Scheduler.AllAlphabetically.a53155ee-444c-4b62-9a2f-c357fc6bfe3e="jar/io.openems.edge.scheduler.allalphabetically.jar"
Simulator.Datasource.CSVReader.f3bf44f0-d85d-4d64-b3ae-55c1854d7071="jar/io.openems.edge.simulator.jar"
Simulator.EssSymmetric.Reacting.8c397d11-8913-4a5e-8988-4594ccbf14be="jar/io.openems.edge.simulator.jar"
Simulator.GridMeter.Acting.28aed5bd-23b7-4a61-a686-96b0c5d7170c="jar/io.openems.edge.simulator.jar"
org.ops4j.pax.logging="jar/pax-logging-service-1.10.1.jar"
